<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MrSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MrSender.Properties.Settings>
            <setting name="BotToken" serializeAs="String">
                <value>683170386:AAHyiFXI8Uhkyv8NITbz6Py6V-Fp_yrr7Fs</value>
            </setting>
            <setting name="ProxyHost" serializeAs="String">
                <value>proxy.nafta.priv</value>
            </setting>
            <setting name="ProxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RemotePath" serializeAs="String">
                <value>C:\Soft\Koresh</value>
            </setting>
            <setting name="FontName" serializeAs="String">
                <value>Courier New</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>3128</value>
            </setting>
            <setting name="MessageCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SmtpHost" serializeAs="String">
                <value>shark.nafta.priv</value>
            </setting>
            <setting name="SmtpUser" serializeAs="String">
                <value>koreshock</value>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value>yNSScJtOKe</value>
            </setting>
            <setting name="SmptFrom" serializeAs="String">
                <value>koreshock@ukrtatnafta.com</value>
            </setting>
            <setting name="MailCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CheckTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckErrorLog" serializeAs="String">
                <value>False</value>
            </setting>
        </MrSender.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>